body {
    height: 1170px;
}
h1 {
    text-align: center;
}
.boxA {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap : 5px;
}
.boxA__list {
    width: 100px;
    height: 100px;
    border-top: 1px solid #687291;
    text-align: center;
}
.boxA__text {
    font-size: 40px;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}
.boxA__list:nth-child(odd) {
    background-color: #dfe1e7;
}
.boxA__list:nth-child(even) {
    background-color: #eeeff2;
}
.boxA__list:last-child {
    background-color: #687291;
    border: 4px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
